.story-container {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin: 3% 0;
  overflow-x: scroll; /* Enable horizontal scrolling when content overflows */
  white-space: nowrap; /* Prevent images from wrapping to the next line */
  /* animation: scrollAnimation 0.2s ease-in-out; /* Smooth scroll animation */
  /*animation-fill-mode: forwards; /* Maintain the final state after animation */
}

.custom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
}

.left-scroll {
  cursor: pointer;
  font-size: 24px;
}

.right-scroll {
  cursor: pointer;
  font-size: 24px;
}

.circle {
  border-radius: 50px;
}

.story img {
  width: 69px;
  height: 69px;
  margin: 3px 3px;
}

.story {
  width: 75px;
  height: 75px;
  margin: 0 12px;
  border-radius: 50px;
  flex-shrink: 0;

  background-image: linear-gradient(45deg, #c128bf, #b69633);
}
.story:hover {
  background-image: linear-gradient(45deg, #b69633, #c128bf);
}

.image-wrapper {
  display: inline-block;
  overflow: hidden; /* Hide any overflow from individual images */
}

img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.story-container::-webkit-scrollbar {
  display: none;
}

.user-name {
  text-align: center;
  width: 70px;
  margin: auto;
}
