.right-pane{
    width: 25%;
    padding-top: 30px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh; /* Full viewport height */
}

.right-pane p{
    margin: 0;
}

.mx-l-110{
    margin-left: 111px;
}