.container-fluid {
    display: flex;
    align-items: center; /* Vertically center the items */
}

.pro-img img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: 10px 10px 0 0; /* Adjust the margin as needed */
}

.pro-img {
    display: inline-block;
    vertical-align: middle; /* Vertically align the image with text */
}

.pro-desc-sm {
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
}

.pro-desc-sm p {
    margin: 0;
}

.pro-option {
    display: inline-block;
    /* margin-top: 25px; */
}

.pro-option p {
    color: #1F76D7;
    position: fixed;
    right: 7%;
}
