.left-pane{
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh; /* Full viewport height */
    border-right: 0.5px solid #222020;
}
.left-pane img {
    width: 150px;
    overflow: hidden;
    margin: 5% 20%;
}


@media (max-width: 1216px){

    .left-pane img {
        width: 105px;
        overflow: hidden;
        margin: 5% 20%;
    }
    
}
@media (max-width: 980px){

    .left-pane {
        width:20%;
    }
    
}

@media (max-width: 550px){

    .left-pane {
        width:10%;
    }
    .left-pane img{
        display: none;
    } 
    
}