<div class="nav flex-column insta-nav">
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-house-door-fill"></i>Home</a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a href="">
      <img src="../../../assets/search.png" alt="Search" class="nav-img" />
    </a>
    <a class="nav-link" href="#">Search</a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a href="">
      <img src="../../../assets/compass.png" alt="Explore" class="nav-img" />
    </a>
    <a class="nav-link" href="#">Explore</a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a href="">
      <img src="../../../assets/youtube.png" alt="Reel" class="nav-img" />
    </a>
    <a class="nav-link" href="#">Reel</a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a href="">
      <img src="../../../assets/message-circle.png" alt="Message" class="nav-img"/>
    </a>
    <a class="nav-link" href="#">Message</a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a href="">
      <img src="../../../assets/heart.png" alt="Notification" class="nav-img" />
    </a>
    <a class="nav-link" href="#">Notification</a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a href="">
      <img src="../../../assets/plus-square.png" alt="Create" class="nav-img" />
    </a>
    <a class="nav-link" href="#">Create</a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a href="">
      <img src="../../../assets/circle.png" alt="Profile" class="nav-img" />
    </a>
    <a class="nav-link" href="#">Profile</a>
  </div>
</div>
