<div class="nav flex-column insta-nav">
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-house-door-fill"></i><span class="text">Home</span></a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-search"></i><span class="text">Search</span></a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-compass"></i><span class="text">Explore</span></a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-youtube"></i><span class="text">Reel</span></a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-chat"></i><span class="text">Message</span></a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-suit-heart"></i><span class="text">Notification</span></a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-plus-square"></i><span class="text">Create</span></a>
  </div>
  <div class="nav-item insta-nav-comp">
    <a class="nav-link" href="#"><i class="bi bi-person-circle"></i><span class="text">Profile</span></a>
  </div>

  <div class="more-op">
      <a class="nav-link" href="#"><i class="bi bi-list"></i><span class="text">More</span></a>
  </div>
  
</div>
