/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
    
    background-color: #000000;
    font-family: sans-serif;
    color: white;
}

.my-gray{
    color: #888484;
}